@import url("https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200&family=Genos:wght@200&family=Jura:wght@300&family=Montserrat:ital,wght@1,200&family=Noto+Sans+KR:wght@100&family=Syncopate&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

/*
font-family: 'Abel', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Genos', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Syncopate', sans-serif;
*/
#swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #swiper .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s;
    z-index: 1; }
    #swiper .bg li.on {
      opacity: 0.2; }
    #swiper .bg li:nth-of-type(2) {
      background: url(../img/unsplash.jpg); }
  #swiper .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #swiper .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100%;
      padding: 40px 0;
      position: relative;
      top: 0; }
      #swiper .swiper-wrapper .swiper-slide #header {
        width: 10%;
        height: 100%;
        float: left;
        padding: 0px 20px;
        border-right: 1px solid #111;
        position: relative; }
        #swiper .swiper-wrapper .swiper-slide #header h1 {
          font: bold 40px/1 'Montserrat';
          color: #111; }
          #swiper .swiper-wrapper .swiper-slide #header h1::after {
            content: '';
            display: block;
            width: 20px;
            height: 1px;
            background: #333;
            position: absolute;
            top: 80px;
            left: 30px; }
        #swiper .swiper-wrapper .swiper-slide #header h2 {
          font: bold 170px/1 'Abel';
          color: #111;
          transform: rotate(-90deg);
          transform-origin: left center;
          width: 500px;
          position: absolute;
          bottom: 30px;
          left: 50%; }
      #swiper .swiper-wrapper .swiper-slide .inner {
        float: right;
        width: 90%;
        height: 100%;
        overflow: hidden;
        opacity: 0.5;
        z-index: 1;
        transition: opacity 0.5s; }
      #swiper .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] {
        padding: 0px; }
        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] #header {
          border: none; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] #header h1 {
            margin: 40px 0 20px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] #header h1::after {
              top: 120px; }
        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article {
            width: 100%;
            height: 100%;
            transition: 1s; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.left {
              flex-basis: 15%;
              order: 1; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.left > img {
                filter: grayscale(0.5) brightness(0.8); }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.right {
              flex-basis: 15%;
              order: 3; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt {
              flex-basis: 40%;
              background: #111;
              position: relative;
              transition-timing-function: ease-in-out;
              order: 2; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left {
                width: 100%;
                height: 100%;
                padding: 50px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left.on {
                  opacity: 1;
                  transition: 0.3s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left.on .menu {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left.on .list {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left.on p {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left.on span {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left.on .thumb {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left.on h2 {
                    opacity: 1; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .menu {
                  width: 100%;
                  margin: 50px 0 20px;
                  padding: 10px 0;
                  border-top: 1px solid #999;
                  border-bottom: 1px solid #999;
                  opacity: 0;
                  transition: opacity 0.7s 0.7s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .menu::after {
                    content: '';
                    display: block;
                    clear: both; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .menu a {
                    display: inline-block;
                    margin-right: 30px;
                    font: 15px/1 'Syncopate';
                    color: orange; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .menu a:last-child {
                      float: right;
                      margin-right: 0;
                      padding-top: 5px; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .list {
                  width: 100%;
                  margin-bottom: 30px;
                  position: relative;
                  opacity: 0;
                  transition: opacity 0.7s 0.7s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .list li {
                    font: 22px/1 'Genos';
                    color: #eee;
                    margin-bottom: 5px; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .list li:last-child {
                      position: absolute;
                      top: 0;
                      right: 20px; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .list li:last-child a {
                        font: 22px/1 'Genos';
                        color: #eee; }
                        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .list li:last-child a::before {
                          content: '';
                          display: block;
                          width: 15px;
                          height: 1px;
                          background: #eee;
                          position: absolute;
                          top: 50%;
                          right: -20px;
                          transform: rotate(-45deg); }
                        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .list li:last-child a::after {
                          content: '';
                          display: block;
                          width: 10px;
                          height: 10px;
                          border-top: 1px solid #eee;
                          border-right: 1px solid #eee;
                          position: absolute;
                          top: 5px;
                          right: -20px; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left p {
                  font: 26px/1 'Genos';
                  color: #aaa;
                  text-align: right;
                  padding-bottom: 20px;
                  margin-bottom: 20px;
                  border-bottom: 1px solid #999;
                  opacity: 0;
                  transition: opacity 0.7s 0.7s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left h2 {
                  font: bold 150px/1 'Syncopate';
                  color: #fff;
                  letter-spacing: 3px;
                  text-align: center;
                  opacity: 0;
                  transition: opacity 1.5s 0.5s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left h2::after {
                    content: 'FOLIO';
                    display: block;
                    width: 100%;
                    text-shadow: 0 0 2px #fff;
                    color: #111; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left span {
                  font: 50px/1 'Montserrat';
                  color: #eee;
                  position: absolute;
                  bottom: 50px;
                  left: 50px;
                  opacity: 0;
                  transition: opacity 0.7s 0.7s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #left .thumb {
                  width: 80px;
                  height: 80px;
                  object-fit: cover;
                  position: absolute;
                  bottom: 50px;
                  right: 50px;
                  transform-origin: bottom right;
                  opacity: 0;
                  transition: opacity 0.7s 0.7s; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right {
                width: 100%;
                height: 100%;
                padding: 50px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right.on {
                  opacity: 1;
                  transition: 0.3s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right.on .nav {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right.on h1 {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right.on .sns {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right.on p {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right.on span {
                    opacity: 1; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right.on h2 {
                    opacity: 1; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav {
                  width: 100%;
                  margin: 50px 0 120px;
                  opacity: 0;
                  transition: opacity 0.7s 0.5s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav::after {
                    content: '';
                    display: block;
                    clear: both; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li {
                    float: left;
                    width: 50%; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li > h1 {
                      font: bold 24px/1 'Genos';
                      color: orange;
                      letter-spacing: 1px;
                      margin-bottom: 10px; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li p {
                      width: 50%;
                      font: 18px/1.3 'Genos';
                      color: #eee;
                      letter-spacing: 1px;
                      margin-bottom: 20px; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a {
                      display: block;
                      width: 100%;
                      height: 25px;
                      position: relative; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a::before {
                        content: '';
                        display: block;
                        width: 40%;
                        height: 1px;
                        background: #eee;
                        position: absolute;
                        top: 13px;
                        left: 10px;
                        transition: 0.5s; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a::after {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        border: 1px solid orange;
                        position: absolute;
                        top: 0;
                        left: 0px;
                        transition: 0.5s; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a span::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 1px;
                        background: #eee;
                        position: absolute;
                        top: 13px;
                        left: 10px;
                        transform: rotate(-30deg);
                        transform-origin: left center;
                        transition: 0.5s; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a span::after {
                        content: '';
                        display: none;
                        width: 10px;
                        height: 1px;
                        background: #eee;
                        position: absolute;
                        top: 13px;
                        left: 10px;
                        transform: rotate(30deg);
                        transform-origin: left center; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a:hover::before {
                        background: orange;
                        width: 10px;
                        left: 9px; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a:hover::after {
                        border-color: orange; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .nav li a:hover span::before {
                        transform-origin: center center;
                        transform: rotate(-90deg);
                        background: orange;
                        left: 9px; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right > h1 {
                  font: bold 24px/1 'Genos';
                  color: rgba(238, 238, 238, 0.3);
                  opacity: 0;
                  transition: opacity 0.7s 0.5s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right > h1 b {
                    font: bold 24px/1 'Genos';
                    color: orange;
                    margin-right: 10px; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right > h2 {
                  font: bold 120px/1 'Syncopate';
                  color: #eee;
                  letter-spacing: 2px;
                  margin: 20px 0;
                  opacity: 0;
                  transition: opacity 1.5s 0.3s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .sns {
                  width: 100%;
                  opacity: 0;
                  transition: opacity 0.7s 0.5s; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .sns::after {
                    content: '';
                    display: block;
                    clear: both; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .sns li {
                    float: left;
                    width: 30px;
                    padding-left: 3px;
                    margin-right: 20px; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .sns li a {
                      text-align: center; }
                      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right .sns li a i {
                        font-size: 15px;
                        color: #ccc; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right > p {
                  width: 80%;
                  margin-top: 20px;
                  margin-bottom: 50px;
                  font: 16px/1.5 'Noto Sans KR','Genos';
                  color: #999;
                  text-align: justify;
                  opacity: 0;
                  transition: opacity 0.7s 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.txt #right span {
                  font: bold 15px/1 'Syncopate';
                  color: orange;
                  opacity: 0;
                  cursor: pointer;
                  transition: opacity 0.5s 0.7s; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.on {
              flex-basis: 45%; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article.on > img {
                transform: scale(1); }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform: scale(1.5);
              transition: 1s; }
      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab {
        width: 100%;
        height: 100%;
        padding: 0px 100px;
        position: relative; }
        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 50px; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox li {
            flex: calc(100% / 4); }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox li > a {
              display: block;
              width: 100%;
              overflow: hidden; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox li > a span {
                font: bold 70px/1 'Genos';
                color: orange; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox li > a h2 {
                font: bold 20px/1 'Abel';
                color: #111;
                margin: 20px 0 10px; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox li > a p {
                font: 15px/1 'Abel';
                color: #333;
                margin-bottom: 30px; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox li > a img {
                width: 50%;
                height: 150px;
                object-fit: cover;
                object-position: top;
                margin-bottom: 15px;
                border: 1px solid orange; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab .tabBox li > a nav {
                font: 18px/1 'Abel';
                color: #555; }
        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div {
          width: 100%;
          height: 50%;
          display: none; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div.on {
            display: block; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div::after {
            content: '';
            display: block;
            clear: both; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .pic {
            float: left;
            width: 40%;
            height: 100%;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
            transition: 0.5s; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .pic img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .pic:hover img {
              object-position: bottom;
              transition: 3s; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .exp {
            float: right;
            width: 60%;
            height: 100%;
            padding: 20px 40px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .exp h2 {
              font: bold 50px/1 'Abel';
              color: #333;
              padding-top: 10px;
              border-top: 1px solid #555;
              margin-bottom: 40px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .exp span {
              font: 16px/1 'Abel';
              color: #555; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .exp h3 {
              font: bold 24px/1 'Genos';
              color: orange;
              padding-top: 10px;
              margin-top: 20px;
              margin-bottom: 30px;
              border-top: 1px solid #555; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .exp p {
              width: 60%;
              font: 15px/1.6 'Noto Sans Kr';
              color: #333;
              margin-bottom: 60px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .exp b {
              font: bold 300px/1 'Abel';
              color: rgba(194, 194, 194, 0.603);
              position: absolute;
              bottom: 0;
              right: 120px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="1"] .inner .tab > div .exp a {
              font: bold 18px/1 'Noto Sans Kr';
              color: orange; }
      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center; }
        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article {
          flex: 1;
          height: 100%;
          position: relative;
          cursor: pointer; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(1) .front i span {
            opacity: 1; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(1) .front i span:nth-of-type(1) {
              top: 20px;
              right: 20px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(1) .front i span:nth-of-type(2) {
              top: 200px;
              right: 350px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(1) .front i span:nth-of-type(3) {
              top: 400px;
              right: 230px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(1) .front i span:nth-of-type(4) {
              top: 500px;
              right: 450px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(1) .front i span:nth-of-type(5) {
              top: 700px;
              right: 150px; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(2) .front i span {
            opacity: 1; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(2) .front i span:nth-of-type(1) {
              bottom: 20px;
              left: 20px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(2) .front i span:nth-of-type(2) {
              bottom: 140px;
              left: 350px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(2) .front i span:nth-of-type(3) {
              bottom: 350px;
              left: 230px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(2) .front i span:nth-of-type(4) {
              bottom: 480px;
              left: 450px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(2) .front i span:nth-of-type(5) {
              bottom: 620px;
              left: 80px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(2) .front i span:nth-of-type(6) {
              bottom: 730px;
              left: 390px; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(3) .front i span {
            opacity: 1; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(3) .front i span:nth-of-type(2) {
              top: 150px;
              left: 110px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(3) .front i span:nth-of-type(3) {
              top: 630px;
              left: 210px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(3) .front i span:nth-of-type(4) {
              top: 300px;
              left: 340px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:hover:nth-of-type(3) .front i span:nth-of-type(5) {
              top: 60px;
              left: 450px; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(1) .front {
            background: #03cf5d; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(1) .front i span {
              opacity: 0; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(1) .front i span:nth-of-type(1) {
                top: 20px;
                right: 20px;
                font-size: 180px;
                opacity: 1; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(1) .front i span:nth-of-type(2) {
                top: 10px;
                right: 450px;
                transition: opacity 0.3s 0.1s, top 1.5s, right 1.5s; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(1) .front i span:nth-of-type(3) {
                top: 580px;
                right: 20px;
                transition: opacity 0.3s 0.1s, top 1.4s, right 1.8s; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(1) .front i span:nth-of-type(4) {
                top: 300px;
                right: 600px;
                transition: opacity 0.3s 0.1s, top 0.5s, right 0.2s; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(1) .front i span:nth-of-type(5) {
                top: 270px;
                right: 0px;
                transition: opacity 0.3s 0.1s, top 0.9s, right 1.6s; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(2) .front i span {
            opacity: 0; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(2) .front i span:nth-of-type(1) {
              color: #557dbf;
              bottom: 20px;
              left: 20px;
              font-size: 180px;
              opacity: 1; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(2) .front i span:nth-of-type(2) {
              color: #ea4435;
              bottom: 450px;
              left: 450px;
              transition: opacity 0.3s 0.3s, bottom 3s, left 4s; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(2) .front i span:nth-of-type(3) {
              color: #f9bc14;
              bottom: 580px;
              left: 20px;
              transition: opacity 0.3s 0.3s, bottom 4s, left 8s; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(2) .front i span:nth-of-type(4) {
              color: #557dbf;
              bottom: 700px;
              left: 250px;
              transition: opacity 0.3s 0.3s, bottom 5s, left 3s; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(2) .front i span:nth-of-type(5) {
              color: #35a851;
              bottom: 70px;
              left: 0px;
              transition: opacity 0.3s 0.3s, bottom 2s, left 5s; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(2) .front i span:nth-of-type(6) {
              color: #ea4435;
              bottom: 0px;
              left: 0px;
              transition: opacity 0.3s 0.3s, bottom 3s, left 5s; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front {
            background: #f9bc14; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front i {
              color: #361f20; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front i span {
                opacity: 0; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front i span:nth-of-type(1) {
                  top: 50%;
                  left: 20px;
                  transform: translateY(-50%);
                  font-size: 180px;
                  opacity: 1; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front i span:nth-of-type(2) {
                  top: 450px;
                  left: 150px;
                  transition: opacity 0.3s 0.3s, top 2s, left 5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front i span:nth-of-type(3) {
                  top: 280px;
                  left: 210px;
                  transition: opacity 0.3s 0.3s, top 3s, left 1s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front i span:nth-of-type(4) {
                  top: 700px;
                  left: 350px;
                  transition: opacity 0.3s 0.3s, top 5s, left 3s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article:nth-of-type(3) .front i span:nth-of-type(5) {
                  top: 70px;
                  left: 0px;
                  transition: opacity 0.3s 0.3s, top 1s, left 3s; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article .front {
            width: 100%;
            height: 100%; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article .front i {
              font: bold 150px/1 'arial';
              color: #fff; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="2"] .inner .wrap article .front i span {
                position: absolute; }
  #swiper .swiper-button-next {
    height: 50px;
    padding: 10px 0 0;
    position: absolute;
    top: auto;
    bottom: 30px;
    left: calc(10% - 50px); }
    #swiper .swiper-button-next::after {
      display: none; }
    #swiper .swiper-button-next span {
      font: bold 15px/1 'Montserrat';
      color: #111; }
  #swiper .swiper-button-prev {
    height: 50px;
    padding: 10px 0 0;
    position: absolute;
    top: auto;
    bottom: 30px;
    left: 20px; }
    #swiper .swiper-button-prev::after {
      display: none; }
    #swiper .swiper-button-prev span {
      font: bold 15px/1 'Montserrat';
      color: #111; }
  #swiper .swiper-pagination {
    position: absolute;
    bottom: auto;
    left: 20px;
    top: 150px;
    width: 200px;
    height: 50px;
    z-index: 2; }
    #swiper .swiper-pagination span {
      display: block;
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-bottom: 30px;
      opacity: 0.7;
      font: 15px/1 'Montserrat';
      color: #111;
      text-align: left; }
      #swiper .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
