* { margin: 0; padding: 0; box-sizing: border-box; }
ul,ol,li { list-style: none; }
a { text-decoration: none;}
input, select, option { outline: 0; }

.h {
    position: absolute;
    top: -9999px;
    opacity: 0;
}