@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200&family=Genos:wght@200&family=Jura:wght@300&family=Montserrat:ital,wght@1,200&family=Noto+Sans+KR:wght@100&family=Syncopate&display=swap');
@import "reset.scss";

/*
font-family: 'Abel', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Genos', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Syncopate', sans-serif;
*/


#swiper{
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;

    .bg{
            li{
                width: 100%; height: 100%;
                position: absolute;
                top: 0px; left: 0px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 0;
                transition: 1s;
                z-index: 1;

                &.on{
                    opacity: 0.2;
                }

                &:nth-of-type(2){
                    background: url(../img/unsplash.jpg);
                }
            }
    }

    .swiper-wrapper{
        width: 100%; height: 100%;

        .swiper-slide{
            width: 100% ; height: 100%;
            padding: 40px 0;
            position: relative;
            top: 0;

            #header{
                width: 10%; height: 100%;
                float: left;
                padding: 0px 20px;
                border-right: 1px solid #111;
                position: relative;

                h1{
                    font: bold 40px/1 'Montserrat';
                    color: #111;

                    &::after{
                        content: '';
                        display: block;
                        width: 20px; height: 1px;
                        background: #333;
                        position: absolute;
                        top: 80px; left: 30px;
                    }
                }

                h2{
                    font: bold 170px/1 'Abel';
                    color: #111;
                    transform: rotate(-90deg);
                    transform-origin: left center;
                    width: 500px;
                    position: absolute;
                    bottom: 30px; left: 50%;
                }
            }

            .inner{
                float: right;
                width: 90%; height: 100%;
                overflow: hidden;
                opacity: 0.5;
                z-index: 1;
                transition: opacity 0.5s;
            }

            &.swiper-slide-active .inner{
                opacity: 1;
            }

            &[data-swiper-slide-index="0"]{
                padding: 0px;

                #header{
                    border: none;

                    h1{
                        margin: 40px 0 20px;

                        &::after{
                            top: 120px;
                        }
                    }
                }

                .inner{

                    .wrap{
                        width: 100%; height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;    

                        article{
                            width: 100%; height: 100%;
                            transition: 1s;

                            &.left{
                                flex-basis: 15%;
                                order: 1;

                                >img{
                                    filter: grayscale(0.5) brightness(0.8);
                                }
                            }

                            &.right{
                                flex-basis: 15%;
                                order: 3;
                            }

                            &.txt{
                                flex-basis: 40%;
                                background: #111;
                                position: relative;
                                transition-timing-function: ease-in-out;
                                order: 2;

                                #left{
                                    width: 100%; height: 100%;
                                    padding: 50px;
                                    position: absolute;
                                    top: 0; left: 0;
                                    opacity: 0;

                                    &.on{
                                        opacity: 1;
                                        transition: 0.3s;

                                        .menu{ opacity: 1; }
                                        .list{ opacity: 1; }
                                        p{ opacity: 1; }
                                        span{ opacity: 1; }
                                        .thumb{ opacity: 1; }

                                        h2{
                                            opacity: 1;
                                        }
                                    }

                                    .menu{
                                        width: 100%;
                                        margin: 50px 0 20px;
                                        padding: 10px 0;
                                        border-top: 1px solid #999;
                                        border-bottom: 1px solid #999;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;

                                        &::after{
                                            content: ''; display: block; clear: both;
                                        }

                                        a{
                                            display: inline-block;
                                            margin-right: 30px;
                                            font: 15px/1 'Syncopate';
                                            color: orange;

                                            &:last-child{
                                                float: right;
                                                margin-right: 0;
                                                padding-top: 5px;
                                            }
                                        }
                                    }

                                    .list{
                                        width: 100%;
                                        margin-bottom: 30px;
                                        position: relative;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;

                                        li{
                                            font: 22px/1 'Genos';
                                            color: #eee;
                                            margin-bottom: 5px;

                                            &:last-child{
                                                position: absolute;
                                                top: 0; right: 20px;

                                                a{
                                                    font: 22px/1 'Genos';
                                                    color: #eee;

                                                    &::before{
                                                        content: '';
                                                        display: block;
                                                        width: 15px; height: 1px;
                                                        background: #eee;
                                                        position: absolute;
                                                        top: 50%; right: -20px;
                                                        transform: rotate(-45deg);
                                                    }

                                                    &::after{
                                                        content: '';
                                                        display: block;
                                                        width: 10px; height: 10px;
                                                        border-top: 1px solid #eee;
                                                        border-right: 1px solid #eee;
                                                        position: absolute;
                                                        top: 5px; right: -20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    
                                    p{
                                        font: 26px/1 'Genos';
                                        color: #aaa;
                                        text-align: right;
                                        padding-bottom: 20px;
                                        margin-bottom: 20px;
                                        border-bottom: 1px solid #999;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;
                                    }

                                    h2{
                                        font: bold 150px/1 'Syncopate';
                                        color: #fff;
                                        letter-spacing: 3px;
                                        text-align: center;
                                        opacity: 0;
                                        transition: opacity 1.5s 0.5s;

                                        &::after{
                                            content: 'FOLIO';
                                            display: block;
                                            width: 100%; 
                                            text-shadow: 0 0 2px #fff;
                                            color: #111;
                                        }
                                    }

                                    span{
                                        font: 50px/1 'Montserrat';
                                        color: #eee;
                                        position: absolute;
                                        bottom: 50px; left: 50px;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;
                                    }

                                    .thumb{
                                        width: 80px; height: 80px;
                                        object-fit: cover;
                                        position: absolute;
                                        bottom: 50px; right: 50px;
                                        transform-origin: bottom right;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;
                                    }
                                }

                                #right{
                                    width: 100%; height: 100%;
                                    padding: 50px;
                                    position: absolute;
                                    top: 0; left: 0;
                                    opacity: 0;

                                    &.on{
                                        opacity: 1;
                                        transition: 0.3s;

                                        .nav{ opacity: 1; }
                                        h1{ opacity: 1; }
                                        .sns{ opacity: 1; }
                                        p{ opacity: 1; }
                                        span{ opacity: 1; }

                                        h2{
                                            opacity: 1;
                                        }
                                    }

                                    .nav{
                                        width: 100%; 
                                        margin: 50px 0 120px;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.5s;

                                        &::after{
                                            content: ''; display: block; clear: both;
                                        }

                                        li{
                                            float: left;
                                            width: 50%;

                                            >h1{
                                                font: bold 24px/1 'Genos';
                                                color: orange;
                                                letter-spacing: 1px;
                                                margin-bottom: 10px;
                                            }

                                            p{
                                                width: 50%;
                                                font: 18px/1.3 'Genos';
                                                color: #eee;
                                                letter-spacing: 1px;
                                                margin-bottom: 20px;
                                            }
                                            
                                            a{
                                                display: block;
                                                width: 100%; height: 25px;
                                                position: relative;
                        
                                                &::before{
                                                    content: '';
                                                    display: block;
                                                    width: 40%; height: 1px;
                                                    background: #eee;
                                                    position: absolute;
                                                    top: 13px; left: 10px;
                                                    transition: 0.5s;
                                                }
                        
                                                &::after{
                                                    content: '';
                                                    display: block;
                                                    width: 25px; height: 25px;
                                                    border-radius: 50%;
                                                    border: 1px solid orange;
                                                    position: absolute;
                                                    top: 0; left: 0px;
                                                    transition: 0.5s;
                                                }
                        
                                                span{
                        
                                                    &::before{
                                                        content: '';
                                                        display: block;
                                                        width: 10px; height: 1px;
                                                        background: #eee;
                                                        position: absolute;
                                                        top: 13px; left: 10px;
                                                        transform: rotate(-30deg);
                                                        transform-origin: left center;
                                                        transition: 0.5s;
                                                    }
                        
                                                    &::after{
                                                        content: '';
                                                        display: none;
                                                        width: 10px; height: 1px;
                                                        background: #eee;
                                                        position: absolute;
                                                        top: 13px; left: 10px;
                                                        transform: rotate(30deg);
                                                        transform-origin: left center;
                                                    }
                                                }

                                                &:hover{
                                                    &::before{
                                                        background: orange;
                                                        width: 10px;
                                                        left: 9px;
                                                    }
                        
                                                    &::after{
                                                        border-color: orange;
                                                    }
                        
                                                    span{
                                                        &::before{
                                                            transform-origin: center center;
                                                            transform: rotate(-90deg);
                                                            background: orange;
                                                            left: 9px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    >h1{
                                        font: bold 24px/1 'Genos';
                                        color: rgba(238, 238, 238, 0.3);
                                        opacity: 0;
                                        transition: opacity 0.7s 0.5s;

                                        b{
                                            font: bold 24px/1 'Genos';
                                            color: orange;
                                            margin-right: 10px;
                                        }
                                    }

                                    >h2{
                                        font: bold 120px/1 'Syncopate';
                                        color: #eee;
                                        letter-spacing: 2px;
                                        margin: 20px 0;
                                        opacity: 0;
                                        transition: opacity 1.5s 0.3s;
                                    }

                                    .sns{
                                        width: 100%; 
                                        opacity: 0;
                                        transition: opacity 0.7s 0.5s;

                                        &::after{
                                            content: ''; display: block; clear: both;
                                        }

                                        li{
                                            float: left;
                                            width: 30px;
                                            padding-left: 3px;
                                            margin-right: 20px;

                                            a{
                                                text-align: center;
                                                i{
                                                    font-size: 15px;
                                                    color: #ccc;
                                                }
                                            }
                                        }
                                    }

                                    >p{
                                        width: 80%;
                                        margin-top: 20px;
                                        margin-bottom: 50px;
                                        font: 16px/1.5 'Noto Sans KR','Genos';
                                        color: #999;
                                        text-align: justify;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.5s;
                                    }

                                    span{
                                        font: bold 15px/1 'Syncopate';
                                        color: orange;
                                        opacity: 0;
                                        cursor: pointer;
                                        transition: opacity 0.5s 0.7s;
                                    }
                                }
                                
                            }

                            &.on{
                                flex-basis: 45%;

                                >img{
                                    transform: scale(1);
                                }
                            }

                            >img{
                                width: 100%; height: 100%;
                                object-fit: cover; 
                                transform: scale(1.5);
                                transition: 1s;
                            }
                        }
                    }
                }
                
            }

            &[data-swiper-slide-index="1"]{
                .inner{
                    .tab{
                        width: 100%; height: 100%;
                        padding: 0px 100px;
                        position: relative;

                        .tabBox{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 50px;

                            li{
                                flex: calc(100% / 3);

                                >a{
                                    display: block;
                                    width: 100%;
                                    overflow: hidden;
    
                                    span{
                                        font: bold 70px/1 'Genos';
                                        color: orange;
                                    }
    
                                    h2{
                                        font: bold 20px/1 'Abel';
                                        color: #111;
                                        margin: 20px 0 10px;
                                    }
    
                                    p{
                                        font: 15px/1 'Abel';
                                        color: #333;
                                        margin-bottom: 30px;
                                    }
    
                                    img{
                                        width: 50%; height: 150px;
                                        object-fit: cover;
                                        object-position: top;
                                        margin-bottom: 15px;
                                        border: 1px solid orange;
                                    }

                                    nav{
                                        font: 18px/1 'Abel';
                                        color: #555;
                                    }
                                }
                            }
                        }

                        >div{
                            width: 100%; height: 50%;
                            display: none;

                            &.on{
                                display: block;
                            }

                            &::after{
                                content: ''; display: block; clear: both;
                            }

                            .pic{
                                float: left;
                                width: 40%; height: 100%;
                                box-shadow: 0px 0px 40px rgba(0,0,0, .3);
                                transition: 0.5s;

                                img{
                                    width: 100%; height: 100%;
                                    object-fit: cover;
                                    object-position: top;
                                }

                                &:hover{
                                    img{
                                        object-position: bottom;
                                        transition: 3s;
                                    }
                                }
                            }

                            .exp{
                                float: right;
                                width: 60%; height: 100%;
                                padding: 20px 40px;

                                h2{
                                    font: bold 50px/1 'Abel';
                                    color: #333;
                                    padding-top: 10px;
                                    border-top: 1px solid #555;
                                    margin-bottom: 40px;
                                }

                                span{
                                    font: 16px/1 'Abel';
                                    color: #555;
                                }

                                h3{
                                    font: bold 24px/1 'Genos';
                                    color: orange;
                                    padding-top: 10px;
                                    margin-top: 20px;
                                    margin-bottom: 30px;
                                    border-top: 1px solid #555;
                                }

                                p{
                                    width: 60%; 
                                    font: 15px/1.6 'Noto Sans Kr';
                                    color: #333;
                                    margin-bottom: 60px;
                                }

                                b{
                                    font: bold 300px/1 'Abel';
                                    color: rgba(194, 194, 194, 0.603);
                                    position: absolute;
                                    bottom: 0; right: 120px;
                                }

                                a{
                                    font: bold 18px/1 'Noto Sans Kr';
                                    color: orange;
                                }
                            }
                        }
                    }
                }
            }

            &[data-swiper-slide-index="2"]{
                .inner{
                    .wrap{
                        width: 100%; height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;

                        article{
                            flex: 1;
                            height: 100%;
                            position: relative;

                            &:nth-of-type(1){
                                .front{
                                    background: #03cf5d;

                                    i{
                                        span{
                                            &:nth-of-type(1){ top: 20px; right: 20px; font-size: 180px; }
                                            &:nth-of-type(2){ top: 200px; right:350px; }
                                            &:nth-of-type(3){ top: 400px; right: 230px; }
                                            &:nth-of-type(4){ top: 500px; right: 450px; }
                                            &:nth-of-type(5){ top: 700px; right: 100px; }
                                        }
                                    }
                                }
                            }

                            &:nth-of-type(2){
                                .front i{

                                    span{
                                        &:nth-of-type(1){ color: #557dbf; }
                                        &:nth-of-type(2){ color: #ea4435; }
                                        &:nth-of-type(3){ color: #f9bc14; }
                                        &:nth-of-type(4){ color: #557dbf; }
                                        &:nth-of-type(5){ color: #35a851; }
                                        &:nth-of-type(6){ color: #ea4435; }
                                    }
                                    
                                }
                            }

                            &:nth-of-type(3){
                                .front{
                                    background: #f9bc14;

                                    i{
                                        color: #361f20;
                                    }
                                }
                            }

                            .front{
                                width: 100%; height: 100%;

                                i{
                                    font: bold 150px/1 'arial';
                                    color: #fff;

                                    span{
                                        position: absolute;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .swiper-button-next{
        height: 50px;
        padding: 10px 0 0;
        position: absolute;
        top: auto;
        bottom: 30px; left: calc(10% - 50px);

        &::after{
            display: none;
        }

        span{
            font: bold 15px/1 'Montserrat';
            color: #111;
        }
    }

    .swiper-button-prev{
        height: 50px;
        padding: 10px 0 0;
        position: absolute;
        top: auto;
        bottom: 30px; left: 20px;

        &::after{
            display: none;
        }

        span{
            font: bold 15px/1 'Montserrat';
            color: #111;
        }
    }

    .swiper-pagination{
        position: absolute;
        bottom: auto;
        left: 20px; top: 150px; 
        width: 200px; height: 50px;
        z-index: 2;

        span{
            display: block;
            width: auto; height: auto;
            background: transparent;
            border-radius: 0px;
            margin-bottom: 30px;
            opacity: 0.7;
            font: 15px/1 'Montserrat';
            color: #111;
            text-align: left;

            &.swiper-pagination-bullet-active{
                opacity: 1;
                font-weight: bold;
            }
        }
    }
}