@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Genos:wght@200&family=Montserrat:ital,wght@1,200&family=Noto+Sans+KR:wght@100&family=Syncopate&display=swap');
@import "reset.scss";

/*
font-family: 'Abel', sans-serif;
font-family: 'Genos', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Syncopate', sans-serif;
*/


#swiper{
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;

    .bg{
            li{
                width: 100%; height: 100%;
                position: absolute;
                top: 0px; left: 0px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 0;
                transition: 1s;
                z-index: 1;

                &.on{
                    opacity: 0.2;
                }

                &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
                    background: url(../img/unsplash.jpg);
                }
            }
    }

    .swiper-wrapper{
        width: 100%; height: 100%;

        .swiper-slide{
            width: 100% ; height: 100%;
            padding: 40px 0;
            position: relative;
            top: 0;

            #header{
                width: 10%; height: 100%;
                float: left;
                padding: 0px 20px;
                border-right: 1px solid #111;
                position: relative;

                h1{
                    font-size: 0;

                    a{
                        font: bold 40px/1 'Montserrat';
                        color: #111;
                    }
                    

                    &::after{
                        content: '';
                        display: block;
                        width: 20px; height: 1px;
                        background: #333;
                        position: absolute;
                        top: 80px; left: 30px;
                    }
                }

                h2{
                    font: bold 170px/1 'Abel';
                    color: #111;
                    transform: rotate(-90deg);
                    transform-origin: left center;
                    width: 500px;
                    position: absolute;
                    bottom: 30px; left: 50%;
                }
            }

            .inner{
                float: right;
                width: 90%; height: 100%;
                overflow: hidden;
                opacity: 0.5;
                z-index: 1;
                transition: opacity 0.8s;
            }

            &.swiper-slide-active .inner{
                opacity: 1;
            }

            &[data-custom-index="0"]{
                padding: 0px;

                #header{
                    border: none;

                    h1{
                        margin: 40px 0 20px;

                        &::after{
                            top: 120px;
                        }
                    }
                }

                .inner{

                    .wrap{
                        width: 100%; height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;    

                        article{
                            width: 100%; height: 100%;
                            transition: 1s;

                            &.left{
                                flex-basis: 15%;
                                order: 1;

                                >img{
                                    filter: grayscale(0.5) brightness(0.8);
                                }
                            }

                            &.right{
                                flex-basis: 15%;
                                order: 3;
                            }

                            &.txt{
                                flex-basis: 40%;
                                background: #111;
                                position: relative;
                                transition-timing-function: ease-in-out;
                                order: 2;

                                #left{
                                    width: 100%; height: 100%;
                                    padding: 50px;
                                    position: absolute;
                                    top: 0; left: 0;
                                    opacity: 0;

                                    &.on{
                                        opacity: 1;
                                        transition: 0.3s;

                                        .menu{ opacity: 1; }
                                        .list{ opacity: 1; }
                                        p{ opacity: 1; }
                                        span{ opacity: 1; }
                                        .thumb{ opacity: 1; }

                                        h2{
                                            opacity: 1;
                                        }
                                    }

                                    .menu{
                                        width: 100%;
                                        margin: 50px 0 20px;
                                        padding: 10px 0;
                                        border-top: 1px solid #999;
                                        border-bottom: 1px solid #999;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;

                                        &::after{
                                            content: ''; display: block; clear: both;
                                        }

                                        a{
                                            display: inline-block;
                                            margin-right: 30px;
                                            font: 15px/1 'Syncopate';
                                            color: orange;

                                            &:last-child{
                                                float: right;
                                                margin-right: 0;
                                                padding-top: 5px;
                                            }
                                        }
                                    }

                                    .list{
                                        width: 100%;
                                        margin-bottom: 30px;
                                        position: relative;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;

                                        li{
                                            font: 22px/1 'Genos';
                                            color: #eee;
                                            margin-bottom: 5px;

                                            &:last-child{
                                                position: absolute;
                                                top: 0; right: 20px;

                                                a{
                                                    font: 22px/1 'Genos';
                                                    color: #eee;

                                                    &::before{
                                                        content: '';
                                                        display: block;
                                                        width: 15px; height: 1px;
                                                        background: #eee;
                                                        position: absolute;
                                                        top: 50%; right: -20px;
                                                        transform: rotate(-45deg);
                                                    }

                                                    &::after{
                                                        content: '';
                                                        display: block;
                                                        width: 10px; height: 10px;
                                                        border-top: 1px solid #eee;
                                                        border-right: 1px solid #eee;
                                                        position: absolute;
                                                        top: 5px; right: -20px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    
                                    p{
                                        font: 26px/1 'Genos';
                                        color: #aaa;
                                        text-align: right;
                                        padding-bottom: 20px;
                                        margin-bottom: 20px;
                                        border-bottom: 1px solid #999;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;
                                    }

                                    h2{
                                        font: bold 150px/1 'Syncopate';
                                        color: #fff;
                                        letter-spacing: 3px;
                                        text-align: center;
                                        opacity: 0;
                                        transition: opacity 1.5s 0.5s;

                                        &::after{
                                            content: 'FOLIO';
                                            display: block;
                                            width: 100%; 
                                            text-shadow: 0 0 2px #fff;
                                            color: #111;
                                        }
                                    }

                                    span{
                                        font: 50px/1 'Montserrat';
                                        color: #eee;
                                        position: absolute;
                                        bottom: 50px; left: 50px;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;
                                    }

                                    .thumb{
                                        width: 80px; height: 80px;
                                        object-fit: cover;
                                        position: absolute;
                                        bottom: 50px; right: 50px;
                                        transform-origin: bottom right;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.7s;
                                    }
                                }

                                #right{
                                    width: 100%; height: 100%;
                                    padding: 50px;
                                    position: absolute;
                                    top: 0; left: 0;
                                    opacity: 0;

                                    &.on{
                                        opacity: 1;
                                        transition: 0.3s;

                                        .nav{ opacity: 1; }
                                        h1{ opacity: 1; }
                                        .sns{ opacity: 1; }
                                        p{ opacity: 1; }
                                        span{ opacity: 1; }

                                        h2{
                                            opacity: 1;
                                        }
                                    }

                                    .nav{
                                        width: 100%; 
                                        margin: 50px 0 120px;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.5s;

                                        &::after{
                                            content: ''; display: block; clear: both;
                                        }

                                        li{
                                            float: left;
                                            width: 50%;

                                            >h1{
                                                font: bold 24px/1 'Genos';
                                                color: orange;
                                                letter-spacing: 1px;
                                                margin-bottom: 10px;
                                            }

                                            p{
                                                width: 80%; height: 100px;
                                                font: 18px/1.3 'Genos';
                                                color: #eee;
                                                letter-spacing: 1px;
                                            }
                                            
                                            a{
                                                display: block;
                                                width: 100%; height: 25px;
                                                position: relative;
                        
                                                &::before{
                                                    content: '';
                                                    display: block;
                                                    width: 40%; height: 1px;
                                                    background: #eee;
                                                    position: absolute;
                                                    top: 13px; left: 10px;
                                                    transition: 0.5s;
                                                }
                        
                                                &::after{
                                                    content: '';
                                                    display: block;
                                                    width: 25px; height: 25px;
                                                    border-radius: 50%;
                                                    border: 1px solid orange;
                                                    position: absolute;
                                                    top: 0; left: 0px;
                                                    transition: 0.5s;
                                                }
                        
                                                span{
                        
                                                    &::before{
                                                        content: '';
                                                        display: block;
                                                        width: 10px; height: 1px;
                                                        background: #eee;
                                                        position: absolute;
                                                        top: 13px; left: 10px;
                                                        transform: rotate(-30deg);
                                                        transform-origin: left center;
                                                        transition: 0.5s;
                                                    }
                        
                                                    &::after{
                                                        content: '';
                                                        display: none;
                                                        width: 10px; height: 1px;
                                                        background: #eee;
                                                        position: absolute;
                                                        top: 13px; left: 10px;
                                                        transform: rotate(30deg);
                                                        transform-origin: left center;
                                                    }
                                                }

                                                &:hover{
                                                    &::before{
                                                        background: orange;
                                                        width: 10px;
                                                        left: 9px;
                                                    }
                        
                                                    &::after{
                                                        border-color: orange;
                                                    }
                        
                                                    span{
                                                        &::before{
                                                            transform-origin: center center;
                                                            transform: rotate(-90deg);
                                                            background: orange;
                                                            left: 9px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    >h1{
                                        font: bold 24px/1 'Genos';
                                        color: rgba(238, 238, 238, 0.3);
                                        opacity: 0;
                                        transition: opacity 0.7s 0.5s;

                                        b{
                                            font: bold 24px/1 'Genos';
                                            color: orange;
                                            margin-right: 10px;
                                        }
                                    }

                                    >h2{
                                        font: bold 120px/1 'Syncopate';
                                        color: #eee;
                                        letter-spacing: 2px;
                                        margin: 50px 0px;
                                        opacity: 0;
                                        transition: opacity 1.5s 0.3s;
                                    }

                                    >p{
                                        width: 80%;
                                        margin-top: 20px;
                                        margin-bottom: 50px;
                                        font: 16px/1.5 'Noto Sans KR','Genos';
                                        color: #999;
                                        text-align: justify;
                                        opacity: 0;
                                        transition: opacity 0.7s 0.5s;
                                    }

                                    span{
                                        font: bold 15px/1 'Syncopate';
                                        color: orange;
                                        opacity: 0;
                                        cursor: pointer;
                                        transition: opacity 0.5s 0.7s;
                                    }
                                }
                                
                            }

                            &.on{
                                flex-basis: 45%;

                                >img{
                                    transform: scale(1);
                                }
                            }

                            >img{
                                width: 100%; height: 100%;
                                object-fit: cover; 
                                transform: scale(1.5);
                                transition: 1s;
                            }
                        }
                    }
                }
                
            }

            &[data-custom-index="1"]{
                .inner{
                    .tab{
                        width: 100%; height: 100%;
                        position: relative;

                        .tabBox{
                            width: 100%; height: 45%;
                            padding: 0 40px;
                            display: flex;
                            justify-content: space-between;

                            li{
                                flex: calc(100% / 4);

                                >a{
                                    display: block;
                                    width: 100%;
                                    padding: 0px 20px 10px;
                                    overflow: hidden;
                                    transition: 0.7s;
    
                                    span{
                                        font: bold 70px/1 'Genos';
                                        color: orange;
                                    }
    
                                    h2{
                                        font: bold 20px/1 'Abel';
                                        color: #111;
                                        margin: 20px 0 10px;
                                    }
    
                                    p{
                                        font: 15px/1 'Abel';
                                        color: #333;
                                        margin-bottom: 30px;
                                    }
    
                                    img{
                                        width: 70%; height: 150px;
                                        object-fit: cover;
                                        object-position: top;
                                        margin-bottom: 15px;
                                        border-top: 2px solid #111;
                                    }

                                    nav{
                                        font: 18px/1 'Abel';
                                        color: #555;
                                    }
                                    
                                    &:hover{
                                        box-shadow: -10px 20px 40px rgba(0,0,0, .1);
                                    }
    
                                    &.on{
                                        box-shadow: -10px 20px 40px rgba(0,0,0, .1);
                                        border: 1px solid orange;
                                    }

                                }
                                
                            }
                        }

                        .boxs{
                            width: 100%; height: 55%;
                            position: relative;
                            overflow: hidden;

                            >div{
                                width: 100%; height: 100%;
                                padding: 20px 40px 0;
                                position: absolute;
                                top: -100px; left:0;
                                opacity: 0;
                                z-index: 1;
                                transition: 1s ;
    
                                &.on{
                                    top: 0px;
                                    opacity: 1;
                                    z-index: 3;

                                    .pic{
                                        transform: scale(1);
                                    }

                                    .exp{
                                        h3{
                                            padding-top: 10px;
                                            opacity: 1;
                                        }

                                        p, a{
                                            opacity: 1;
                                            transform: translateY(0px);
                                        }
                                    }
                                }
    
                                &::after{
                                    content: ''; display: block; clear: both;
                                }
    
                                .pic{
                                    float: left;
                                    width: 40%; height: 95%;
                                    box-shadow: 0px 5px 30px rgba(0,0,0, .2);
                                    transform: scale(0.5);
                                    transition: transform 1s 0.5s;
    
                                    img{
                                        width: 100%; height: 100%;
                                        object-fit: cover;
                                        object-position: top;
                                    }
    
                                    &:hover{
                                        img{
                                            object-position: bottom;
                                            transition: 3s;
                                        }
                                    }
                                }
    
                                .exp{
                                    float: right;
                                    width: 60%; height: 100%;
                                    padding: 0px 30px;
    
                                    h2{
                                        font: bold 50px/1 'Abel';
                                        color: #333;
                                        border-top: 1px solid #555;
                                        margin-bottom: 30px;
                                        padding-top: 10px;
                                    }
    
                                    span{
                                        font: 16px/1 'Abel';
                                        color: #555;
                                        transition: 0.5s 0.8s;
                                    }
    
                                    h3{
                                        font: bold 24px/1 'Genos';
                                        color: orange;
                                        margin-top: 20px;
                                        margin-bottom: 30px;
                                        border-top: 1px solid #555;
                                        padding-top: -10px;
                                        opacity: 0;
                                        transition: 0.5s 0.8s;
                                    }
    
                                    p{
                                        width: 60%; 
                                        font: 15px/1.7 'Noto Sans Kr';
                                        color: #333;
                                        margin-bottom: 20px;
                                        opacity: 0;
                                        transform: translateY(-20px);
                                        transition: 0.5s 0.9s;
                                    }
    
                                    b{
                                        font: bold 300px/1 'Abel';
                                        color: rgba(209, 209, 209, 0.603);
                                        position: absolute;
                                        bottom: -20px; right: 0px;
                                    }

                                    .site{
                                        font-size: 0;
                                        width: 100%; 

                                        a{
                                            display: inline-block;
                                            width: 200px;
                                            padding: 10px;
                                            background: transparent;
                                            border: 1px solid orange;
                                            border-right: none;
                                            font:  18px/1 'Montserrat';
                                            color: orange;
                                            position: relative;
                                            transition: 0.5s;

                                            &::before{
                                                content: '';
                                                display: block;
                                                width: 15px; height: 1px;
                                                background: orange;
                                                position: absolute;
                                                top: 50%; right: 10px;
                                                transition: 0.5s;
                                            }

                                            &::after{
                                                content: '';
                                                display: block;
                                                width: 8px; height: 1px;
                                                background: orange;
                                                position: absolute;
                                                top: 50%; right: 10px;
                                                transform: rotate(30deg);
                                                transform-origin: right center;
                                                transition: 0.5s;
                                            }

                                            &:hover{
                                                background: orange;
                                                color: #fff;

                                                &::before, &::after{
                                                    background: #fff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &[data-custom-index="2"]{
                .inner{
                    .wrap{
                        width: 100%; height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;

                        article{
                            flex: 1;
                            height: 100%;
                            position: relative;
                            cursor: pointer;

                            &:nth-of-type(1){
                                .front{
                                    background: #03cf5d;

                                    i{
                                        span{
                                            opacity: 0;

                                            &:nth-of-type(1){ 
                                                top: 20px; right: 20px; 
                                                font-size: 180px; 
                                                opacity: 1; 
                                            }
                                            &:nth-of-type(2){ 
                                                top: 10px; right: 450px; 
                                                transition: opacity 0.3s 0.1s, top 1.5s, right 1.5s;
                                            }
                                            &:nth-of-type(3){ 
                                                top: 580px; right: 20px; 
                                                transition: opacity 0.3s 0.1s, top 1.4s, right 1.8s;
                                            }
                                            &:nth-of-type(4){ 
                                                top: 300px; right: 600px; 
                                                transition: opacity 0.3s 0.1s, top 0.5s, right 0.2s;
                                            }
                                            &:nth-of-type(5){
                                                top: 270px; right: 0px; 
                                                transition: opacity 0.3s 0.1s, top 0.9s, right 1.6s;
                                            }
                                        }
                                    }
                                }

                                .back{
                                    bottom: 30px; left: 50%;
                                    transform: translateX(-50%);
                                    border: 1px solid #eee;
                                }
                            }

                            &:nth-of-type(2){
                                .front i{

                                    span{
                                        opacity: 0;

                                        &:nth-of-type(1){ 
                                            color: #557dbf; 
                                            bottom: 20px; left: 20px; 
                                            font-size: 180px; 
                                            opacity: 1; 
                                        }
                                        &:nth-of-type(2){ 
                                            color: #ea4435; 
                                            bottom: 450px; left: 450px; 
                                            transition: opacity 0.3s 0.3s, bottom 3s, left 4s;
                                        }
                                        &:nth-of-type(3){
                                            color: #f9bc14; 
                                            bottom: 580px; left: 20px; 
                                            transition: opacity 0.3s 0.3s, bottom 4s, left 8s;
                                        }
                                        &:nth-of-type(4){ 
                                            color: #557dbf;
                                            bottom: 700px; left: 250px; 
                                            transition: opacity 0.3s 0.3s, bottom 5s, left 3s; 
                                        }
                                        &:nth-of-type(5){ 
                                            color: #35a851; 
                                            bottom: 70px; left: 0px; 
                                            transition: opacity 0.3s 0.3s, bottom 2s, left 5s;
                                        }
                                        &:nth-of-type(6){ 
                                            color: #ea4435; 
                                            bottom: 0px; left: 0px; 
                                            transition: opacity 0.3s 0.3s, bottom 3s, left 5s;
                                        }
                                    }
                                    
                                }

                                .back{
                                    top: 30px; left: 50%;
                                    transform: translateX(-50%);
                                    border: 1px solid #557dbf;

                                    h2{
                                        color: #557dbf;
                                    }

                                    form{
                                        label{
                                            color: #557dbf;
                                        }

                                        input, textarea{
                                            background: #557ebf59;
                                        }

                                        input[type=submit]{
                                            background: #557dbf;
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            &:nth-of-type(3){
                                .front{
                                    background: #f9bc14;

                                    i{
                                        color: #361f20;

                                        span{
                                            opacity: 0;

                                            &:nth-of-type(1){ 
                                                top: 50%; left: 20px; 
                                                transform: translateY(-50%);
                                                font-size: 180px; 
                                                opacity: 1; 
                                            }
                                            &:nth-of-type(2){ 
                                                top: 450px; left: 150px; 
                                                transition: opacity 0.3s 0.3s, top 2s, left 5s;
                                            }
                                            &:nth-of-type(3){ 
                                                top: 280px; left: 210px; 
                                                transition: opacity 0.3s 0.3s, top 3s, left 1s;
                                            }
                                            &:nth-of-type(4){ 
                                                top: 700px; left: 350px; 
                                                transition: opacity 0.3s 0.3s, top 5s, left 3s;
                                            }
                                            &:nth-of-type(5){
                                                top: 70px; left: 0px; 
                                                transition: opacity 0.3s 0.3s, top 1s, left 3s;
                                            }
                                        }
                                    }
                                }

                                .back{
                                    width: 65%; height: 90%;
                                    top: 50%; right: 30px;
                                    transform: translateY(-50%);
                                    border: 1px solid #382425be;

                                    h2{
                                        color: #361f20;
                                    }

                                    form{

                                        input[type=submit]{
                                            background: #361f20;
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            .front{
                                width: 100%; height: 100%;

                                i{
                                    font: bold 150px/1 'arial';
                                    color: #fff;

                                    span{
                                        position: absolute;
                                    }
                                }
                            }

                            .back{
                                width: 90%; height: 70%;
                                padding: 30px 50px;
                                position: absolute;
                                border-radius: 5px;
                                box-shadow: -5px -5px 30px rgba(0,0,0, .1);
                                backdrop-filter: blur(10px);
                                clip-path: circle(5% at 50% 50%);
                                opacity: 0;
                                transition: 0.7s;
                                
                                h2{
                                    font: bold 32px/1 'arial';
                                    color: #fff;
                                }

                                form{
                                    width: 100%; height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    label{
                                        font: bold 16px/1 'Noto Sans KR';
                                        color: #fff;
                                        margin-bottom: 10px;
                                    }

                                    input{
                                        width: 100%; height: 20px;
                                        border: none;
                                        padding: 20px;
                                        border-radius: 5px;
                                        background: rgba(255, 255, 255, 0.7);
                                        margin-bottom: 20px;
                                        color: #333;
                                    }

                                    input[type=submit]{
                                        width: 100%; height: 40px;
                                        padding: 10px;
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: #03cf5d;
                                        background: #eee;
                                        cursor: pointer;
                                    }

                                    textarea{
                                        width: 100%; height: 130px;
                                        border: none;
                                        padding: 10px;
                                        border-radius: 5px;
                                        background: rgba(255, 255, 255, 0.7);
                                        outline: none;
                                        margin-bottom: 40px;
                                        color: #333;
                                        resize: none;
                                    }
                                }
                            }

                            &:hover{
                                &:nth-of-type(1){
                                    .front{
                                        i{
                                            span{
                                                opacity: 1;

                                                &:nth-of-type(1){ top: 20px; right: 20px; }
                                                &:nth-of-type(2){ top: 200px; right: 350px; }
                                                &:nth-of-type(3){ top: 400px; right: 230px; }
                                                &:nth-of-type(4){ top: 500px; right: 450px; }
                                                &:nth-of-type(5){ top: 700px; right: 150px; }
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(2){
                                    .front{
                                        i{
                                            span{
                                                opacity: 1;

                                                &:nth-of-type(1){ bottom: 20px; left: 20px; }
                                                &:nth-of-type(2){ bottom: 140px; left: 350px; }
                                                &:nth-of-type(3){ bottom: 350px; left: 230px; }
                                                &:nth-of-type(4){ bottom: 480px; left: 450px; }
                                                &:nth-of-type(5){ bottom: 620px; left: 80px; }
                                                &:nth-of-type(6){ bottom: 730px; left: 390px; }
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(3){
                                    .front{
                                        i{
                                            span{
                                                opacity: 1;

                                                &:nth-of-type(2){ top: 150px; left: 110px; }
                                                &:nth-of-type(3){ top: 630px; left: 210px; }
                                                &:nth-of-type(4){ top: 300px; left: 340px; }
                                                &:nth-of-type(5){ top: 60px; left: 450px; }
                                            }
                                        }
                                    }
                                }
                            }

                            &.on{
                                .back{
                                    clip-path: circle(100% at 50% 50%);
                                    opacity: 1;
                                    z-index: 5;
                                }
                            }
                        }
                    }
                }
            }

            &[data-custom-index="3"]{
                .inner{
                    .wrap{
                        width: 100%; height: 100%;
                        display: flex;
                        justify-content: space-between;

                        >div{
                            flex-basis: 50%;
                            padding: 0px 20px;
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;

                            &.list{

                                h2{
                                    padding: 20px 0;
                                    font: bold 50px/1 'Abel';
                                    color: #333;
                                    border-top: 2px solid #333;
                                }

                                .list{
                                    width: 100%;

                                    li{
                                        width: 100%;
                                        padding: 20px 0;
                                        border-bottom: 1px solid #999;
                                        cursor: pointer;

                                        &:first-child{
                                            border-top: 1px solid #999;
                                        }

                                        a{
                                            width: 100%;
                                            position: relative;

                                            &::after{
                                                content: '';
                                                display: block;
                                                clear: both;
                                            }

                                            .pic{
                                                float: left;
                                                width: 250px; height: 100%;
                                                margin-right: 30px;
                                                background: #111;
                                                overflow: hidden;

                                                video{
                                                    width: 100%; height: 100%;
                                                    object-fit: cover;
                                                    transition: 0.7s;
                                                }
                                            }

                                            .title{
                                                display: inline-block;
                                                height: 100%;

                                                h3{
                                                    font: bold 18px/1 'Montserrat';
                                                    color: orange;
                                                    margin-bottom: 5px;
                                                }

                                                span{
                                                    font: 15px/1 'Abel';
                                                    color: #333;
                                                }

                                                nav{
                                                    font: bold 18px/1 'Genos';
                                                    color: #111;
                                                    margin-top: 70px;
                                                }
                                            }
                                        }

                                        &:hover a{
                                            .pic{
                                                video{
                                                    transform: scale(1.1);
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.view{
                                h2{
                                    padding: 20px 0;
                                    font: bold 50px/1 'Abel';
                                    color: #333;
                                    border-top: 2px solid #333;
                                }

                                .viewBox{
                                    width: 100%; height: 700px;

                                    h3{
                                        font: bold 28px/1 'Montserrat';
                                        color: orange;
                                        margin-bottom: 10px;
                                        transition: 0.7s;
                                    }

                                    span{
                                        font: 16px/1 'Abel';
                                        color: #333;
                                        transition: 0.7s;
                                    }

                                    video{
                                        width: 100%; height: 80%;
                                        object-fit: contain;
                                        background: #111;
                                        margin-bottom: 30px;
                                        transition: 0.7s;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }


    .swiper-button-next{
        height: 50px;
        padding: 10px 0 0;
        position: absolute;
        top: auto;
        bottom: 30px; left: calc(10% - 50px);

        &::after{
            display: none;
        }

        span{
            font: bold 15px/1 'Montserrat';
            color: #111;
        }
    }

    .swiper-button-prev{
        height: 50px;
        padding: 10px 0 0;
        position: absolute;
        top: auto;
        bottom: 30px; left: 20px;

        &::after{
            display: none;
        }

        span{
            font: bold 15px/1 'Montserrat';
            color: #111;
        }
    }

    .swiper-pagination{
        position: absolute;
        bottom: auto;
        left: 20px; top: 150px; 
        width: 200px; height: 50px;
        z-index: 2;

        span{
            display: block;
            width: auto; height: auto;
            background: transparent;
            border-radius: 0px;
            margin-bottom: 30px;
            opacity: 0.7;
            font: 15px/1 'Montserrat';
            color: #111;
            text-align: left;

            &.swiper-pagination-bullet-active{
                opacity: 1;
                font-weight: bold;
            }
        }
    }
}